@model IEnumerable<oyunBulur.Models.Oneri>
@{
    ViewBag.Title = "OneriListe";
    Layout = null;
}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Önerilenler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.vhv.rs/dpng/d/440-4408153_red-dead-redemption-png-image-red-dead-redemption.png"
          type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>



    @*Marka ve Slogan bölümü.*@
    <div class="slogan">
        <a href='@Url.Action("AramaIndex", "Anasayfa")'>
            <h1 class="name">
                OYUNBULUR
            </h1>

            <h2 class="slogan-content">
                Oyun mu arıyorsun? Oyunbulur.
            </h2>
        </a>
    </div>
    <div class="underline">

        @*Navigasyon butonları.*@
        <div class="testbtn2">

            <a href='@Url.Action("Index", "TestSayfasi")' class="a" type="button">TEST</a>
        </div>
        <div class="contactbtn">

            <a href='@Url.Action("Index", "ContactSayfasi")' class="b" type="button">İLETİŞİM</a>
        </div>
        <div class="suggestbtn">

            <a href='@Url.Action("Index", "OneriSayfasi")' class="c" type="button">ÖNERİ</a>
        </div>

    </div>

    @*Sayfa Müziği'ni başlatma-durdurma scripti.*@
    <script>
        function Play() {
            var myVideo = document.getElementById("Video1");
            if (myVideo.paused) {
                myVideo.play();
                document.getElementById("play").innerHTML = "Pause";
            }
            else {
                myVideo.pause();
                document.getElementById("Pause").innerHTML = "Play";
            }
        }
    </script>


    <div class="topmenu">

        @*Müzik kontrol butonu.*@

        <div class="sound">

            <img src="~/img/playicon2.png" style="width: 40px; height: 40px; position: absolute; left: 51%; top: 1%" onClick="Play()">
            <video width="0" height="0" id="Video1">
                <source src="~/img/music.mp3">
                <source src="~/img/music.mp3">
            </video>




        </div>


    </div>
    <div class="listelayer0q"></div>
    <div class="listelayer0w">
         @*Tablo yapısı.*@
        <table style="position:absolute; left:2.5%; top:2.5%;">

            <tr>
                <th>
                    <label> Oyun Adı</label>
                </th>
                <th>
                    <label>Mod Adı</label>
                </th>
                <th>
                    <label>&nbsp;   Platform Adı</label>
                </th>
                <th>
                    <label>&nbsp;   Perspektif Adı</label>
                </th>
                <th>
                    <label>&nbsp;   Tema Adı</label>
                </th>
                <th>
                    <label>&nbsp;   Tur Adı</label>
                </th>
                <th>
                    <label>&nbsp;   İşlemler</label>
                </th>
            </tr>

            @*Foreach döngüsü ile yapılan öneri bilgilerinin id sırasıyla listelenmesi.*@

            @foreach (var item in Model)
            {

                using (Html.BeginForm("OneriListe", "AdminPaneli", FormMethod.Post))
                {

                    <tr>
                        @Html.Hidden("Id", item.Id)
                        <td id="OyunAdi">
                            >&nbsp;
                            &nbsp;
                            @Html.Hidden("OyunAdi", item.OyunAdi)
                            @Html.DisplayFor(modelItem => item.OyunAdi)
                        </td>
                        <td id="ModID">
                            >&nbsp;
                            &nbsp;
                            @Html.Hidden("ModID", item.ModID)
                            @Html.DisplayFor(modelItem => item.ModID)
                        </td>
                        <td id="PlatformID">
                            >&nbsp;
                            &nbsp;       &nbsp;&nbsp;
                            @Html.Hidden("PlatformID", item.PlatformID)
                            @Html.DisplayFor(modelItem => item.PlatformID)
                        </td>
                        <td id="PerspektifID">
                            >&nbsp;
                            &nbsp;          &nbsp;&nbsp;
                            @Html.Hidden("PerspektifID", item.PerspektifID)
                            @Html.DisplayFor(modelItem => item.PerspektifID)
                        </td>
                        <td id="TemaID">
                            >&nbsp;
                            &nbsp;
                            @Html.Hidden("TemaID", item.TemaID)
                            @Html.DisplayFor(modelItem => item.TemaID)
                        </td>
                        <td id="TurID">
                            >&nbsp;
                            &nbsp;
                            @Html.Hidden("TurID", item.TurID)
                            @Html.DisplayFor(modelItem => item.TurID)
                        </td>

                        <td>
                            <button class="btn btn-success">Öneriyi ekle.</button>
                        </td>

                    </tr>
                }
            }
        </table>
    </div>

</body>
</html>
