@model oyunBulur.Models.Oneri
@{
    ViewBag.Title = "OyunOneri";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oyun Öner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.vhv.rs/dpng/d/440-4408153_red-dead-redemption-png-image-red-dead-redemption.png"
          type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>



    <div class="slogan">
        <a href='@Url.Action("AramaIndex", "Anasayfa")'>
            <h1 class="name">
                OYUNBULUR
            </h1>

            <h2 class="slogan-content">
                Oyun mu arıyorsun? Oyunbulur.
            </h2>
        </a>
    </div>
    <div class="underline">
        <div class="testbtn2">

            <a href='@Url.Action("Index", "TestSayfasi")' class="a" type="button">TEST</a>
        </div>
        <div class="contactbtn">

            <a href='@Url.Action("Index", "ContactSayfasi")' class="b" type="button">İLETİŞİM</a>
        </div>
        <div class="suggestbtn">

            <a href='@Url.Action("Index", "OneriSayfasi")' class="c" type="button">ÖNERİ</a>
        </div>

    </div>



    <script>
        function Play() {
            var myVideo = document.getElementById("Video1");
            if (myVideo.paused) {
                myVideo.play();
                document.getElementById("play").innerHTML = "Pause";
            }
            else {
                myVideo.pause();
                document.getElementById("Pause").innerHTML = "Play";
            }
        }
    </script>


    <div class="topmenu">



        <div class="sound">

            <img src="~/img/playicon2.png" style="width: 40px; height: 40px; position: absolute; left: 51%; top: 1%" onClick="Play()">
            <video width="0" height="0" id="Video1">
                <source src="~/img/music.mp3">
                <source src="~/img/music.mp3">
            </video>
        </div>
   
    </div>

    <div class="suggestlayer3">
        <br>
        <h2 class="oyunismi" style=" position:absolute;left: 20px">OYUN ÖNER (KULLANICI)</h2>

    </div>
    <h4 class="oyunismi2" style="position:absolute; left: 44.3%; top: 12%">Oyunun ismini belirtiniz.</h4>
    <input style="position:absolute;border-radius: 5px; border: none; height: 40px;width: 250px; background-color: white; background: white; left: 45%; top: 15%" type="text" class="input" name="OyunAdi" placeholder="     Oyun ismi giriniz.">


    <h4 class="turler" style="position:absolute; left: 44.3%; top: 36%">Oyunun türünü belirtiniz.</h4>
    <form class="form-group" method="post">
        <h4 class="oyunismi2" style="position:absolute; left: 44.3%; top: 12%">Oyunun ismini belirtiniz.</h4>
        <input style="position:absolute;border-radius: 5px; border: none; height: 40px;width: 250px; background-color: white; background: white; left: 45%; top: 15%" type="text" class="input" name="OyunAdi" placeholder="     Oyun ismi giriniz.">


        <h4 class="oyunismi2" style="position:absolute; left: 44.3%; top: 22%">Oyunun Açıklamasını belirtiniz.</h4>
        <input style="position:absolute;border-radius: 5px; border: none; height: 40px;width: 250px; background-color: white; background: white; left: 45%; top: 28%" type="text" class="input" name="OyunAciklama" placeholder="     Oyun açıklaması giriniz.">


        @Html.DropDownListFor(k => k.TurID, (List<SelectListItem>)ViewBag.dgr01, new { @class = "dropstyle" })


        <h4 class="turler" style="position:absolute; left: 44.3%; top: 51%">Oyunun Perspektifini belirtiniz.</h4>

        @Html.DropDownListFor(k => k.PerspektifID, (List<SelectListItem>)ViewBag.dgr02, new { @class = "dropstyle2" })


        <h4 class="turler" style="position:absolute; left: 44.3%; top: 62%">Oyunun Temasini belirtiniz.</h4>

        @Html.DropDownListFor(k => k.TemaID, (List<SelectListItem>)ViewBag.dgr03, new { @class = "dropstyle3" })


        <h4 class="turler" style="position:absolute; left: 44.3%; top: 72%">Oyunun Modunu belirtiniz.</h4>
        @Html.DropDownListFor(k => k.ModID, (List<SelectListItem>)ViewBag.dgr04, new { @class = "dropstyle4" })


        <h4 class="turler" style="position:absolute; left: 44.3%; top: 82%">Oyunun Platformunu belirtiniz.</h4>

        @Html.DropDownListFor(k => k.PlatformID, (List<SelectListItem>)ViewBag.dgr05, new { @class = "dropstyle5" })

        <button style="position:absolute; left:50%; top:92%; width:150px; border:none; border-radius:25px; height:40px; background-color: #D7985D" class="oneritamamla">Tamamla</button>
    </form>
</body>
</html>
